<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>f22c4162-8408-4302-81bc-071d2edef56c</string>
	<key>consumerSecret</key>
	<string>bc9fa5aa-d6b5-4626-95a2-5301032950c1-ae091475-a5a0-4b1b-bef0-99b065fb50fd</string>
</dict>
</plist>
